.sidebar {
  position: relative;
  width: 200px;
  height: 80vh;
  background-color: lightgrey;
  border: 1px solid black;
}

.random-fig {

}

.random-fig h1 {
 font-family: Conv_Brandon_med;
 text-align: center;
 font-size: 15px;
 text-transform: uppercase;
}
