:host {
  background-color: red;
  display: block;
  height: 38px;
  padding: 0 16px;
}

nav a {
  color: white;
  font-size: 14px;
  font-weight: 500;
  margin-right: 20px;
  text-decoration: none;
  vertical-align: middle;
}

nav a.router-link-active {
  color: blue;
}
